.microsoft_logo {
    height: 100px;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.red_square, .blue_square, .green_square, .yellow_square {
    display: flex;
}

.red_square {
    background-color: #F34F1C;
}

.green_square {
    background-color: #7FBC00;
}

.blue_square {
    background-color: #01A6F0;
}

.yellow_square {
    background-color: #FFBA01;
}

.open_lightbox {
    margin: 40px;
}

.modal_window {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 138, 173, 0.5);
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: rgb(192, 178, 226);
    width: 640px;
    height: auto;
    position: relative;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
}

.close_lightbox {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
