.japanese_flag_box {
    display: flex;
    width: 100px;
    height: 100px;
    color: white;
    position: relative;
    border: 1px solid black ;
}

.red {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: red;
    border-radius: 50%;
}